<div class="christmas-shake"></div>
<div class="slogan"></div>
{{#if actTimeObj.isEnd}}
{{else}}
<div class="remain-chance">客官，您今天还能砸<span>{{colorTimes}}个</span>彩蛋，<span>{{goldTimes}}个</span>金蛋</div>
{{/if}}
<div class="rule-tip btn-alert" data-index="act1" data-pk="['双蛋活动','每日砸蛋','活动规则']">活动规则>></div>
<div class="js-egg-wrap"></div>
